* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --text-color: #667085;
  --main-color: #8e2424;
  --title-color: #101828;
}

body {
  width: 100%;
  height: 100vh;
}
/*Start of NavBar*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.links {
  display: flex;
  justify-content: center;
  width: 362px;
  height: 32px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 33px;
}

nav ul li {
  list-style-type: none;
  display: table-cell;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--text-color);
}

button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-weight: 500;
  background: none;
  color: var(--text-color);
  font-size: 0.9rem;
}

.signUp {
  background-color: #8e2424;
  color: white;
}
/*End of NavBar*/

/*Start of Header*/
.header {
  display: flex;
  justify-content: center;
  font-weight: 600;
  text-align: center;
}

.container-header {
  max-width: 39rem;
  height: 100%;
  padding: 5rem 0;
}

.header span {
  color: var(--main-color);
}

H1 {
  font-size: 3rem;
  padding: 1rem 0;
  color: #101828;
}

p {
  word-break: break-all;
  font-weight: 400;
  color: var(--text-color);
}
/*End of Header*/

/*Start of Métricas*/
.container-metricas {
  display: grid;
  grid-template-columns: repeat(4, 14rem);
  gap: 2rem;
  justify-content: center;
  padding: 2rem 0 6rem 0;
}

.number {
  font-weight: 600;
  font-size: 3.7rem;
  color: var(--main-color);
}

.title {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0.8rem 0;
  color: var(--title-color);
}

.description {
  font-weight: 400;
  font-size: 0.8rem;
  word-break: keep-all;
}
/*End of Métricas*/

/*Start of Recruiters*/
.container-vagas {
  padding: 6rem 0 4rem 0;
}

.recruiters {
  text-align: center;
  margin: 0 4rem 3rem 4rem;
  padding: 0 1.5rem;
}

.text-vagas {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--main-color);
  background-color: rgba(142, 36, 36, 0.05);
  border-radius: 16px;
  padding: 4px 12px;
}

h2 {
  font-weight: 600;
  font-size: 2.25rem;
  margin: 1rem 0;
  color: var(--title-color);
}

.recruiters p {
  font-size: 1.25rem;
}

.recruiters img {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}
/*end of Recruiters*/

/*Start of Vagas*/
.card-vagas {
  margin: 0 auto;
  max-width: 48rem;
}

.card-vagas p {
  font-size: 1.25rem;
  margin: 2rem 0 1.5rem 0;
  color: var(--title-color);
}

.vaga {
  border-radius: 16px;
  padding: 1.5rem 1.5rem 1.75rem 1.5rem;
  margin: 1rem 0;
  border: 1px solid #eaecf0;
}

.titulo-vaga {
  font-size: 1.1rem;
  color: var(--title-color);
}

.informacoes {
  margin-top: 1.8rem;
  color: var(--text-color);
}

.informacoes span {
  margin-right: 1rem;
}
/*end of Vagas*/

/*Start of testimony*/
.container-testimony {
  max-width: 76rem;
  margin: 0 auto;
  padding: 4rem;
  border-radius: 16px;
  text-align: center;
  background-color: #c3191908;
}

.container-testimony span {
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--main-color);
}

.container-testimony h2 {
  font-weight: 500;
}

.container-testimony img {
  width: 56px;
  height: 56px;
  border-radius: 200px;
  margin-top: 1rem;
}

.name {
  font-weight: 500;
  font-size: 1rem;
  margin: 0.8rem 0 0.5rem 0;
  color: var(--title-color);
}

.profession {
  font-size: 0.8rem;
}
/*end of testimony*/
