* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --text-color: #667085;
  --main-color: #8e2424;
}

body {
  width: 100%;
  height: 100vh;
}
/*Inicio da NavBar*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.links {
  display: flex;
  justify-content: center;
  width: 362px;
  height: 32px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 33px;
}

nav ul li {
  list-style-type: none;
  display: table-cell;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--text-color)
}

button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-weight: 500;
  background: none;
  color: var(--text-color);
  font-size: 0.9rem;
}

.signUp {
  background-color: #8e2424;
  color: white;
}
/*Fim da NavBar*/
